body{
  text-align: center;
  font-family: opensans;
  background-color: #FFFCFA;
  color: #404040;
}
h1.title1{
  font-size: 100px;
  color: #6E4CFF;
}
h1.title2{
  font-size: 80px;
  color: #6E4CFF;
}

h1, h2,h3,h4{
  font-family: francois;
}
h1{
  font-size: 70px;
}
h3{
  font-size: 50px;
}

h4{
  font-size: 30px;
}

i{
  font-family: opensansitalic;
  font-style: italic;
}
img{
  width: 96%;
}

@font-face {
  font-family: opensans;
  src: url(OpenSans-Regular.ttf);
}
@font-face {
  font-family: opensansitalic;
  src: url(OpenSans-Italic.ttf);
}

@font-face {
  font-family: francois;
  src: url(FrancoisOne-Regular.ttf);
}

.review{
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
}